*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar{
  background-color: white;
}

.nav .links{
  color: #000;
}

.bannerDiv{
  margin-top: 17%;
}

.bannerh1{
  color:  red;
}

#logInBtn{
  width: 100px;
  margin-left: 35.7%;
}

#Profile{
  /*width: 100vw;
  height: 100vh;*/
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profileCard{
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 1px black;
}

.upper-container{
  height: 100px;
  background: linear-gradient(to left, #2d00f7,#ff0291);
}

.image-container img{
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(150px,50px);
  border: 2px solid #8e00b9;
}

.lower-container{
  margin-top: 60px;
  height: 300px;
  background: white;
  text-align: center;
  font-family: sans-serif;
}

.lower-container h3,h4,p{
  margin: 0;
  padding: 0;
}

.lower-container h3{
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
}

.lower-container h4{
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
}

.lower-container p{
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}